extends layout

block content
    .container
      img.img-responsive.img-block(src='https://lh3.googleusercontent.com/-cV1FNQAdYQriSo2C2A2rxyNx95qpo45rLMxm2tu0t_SMKGBaQyXeiaIeD_ZFGNl7j4CpuScOrlwjfAlYi0egOAqwweISb324sGaIMvXp2wlV9dVKg3ErEiGL271o9XAjCyXV0B3xQ=w2400', style='min-width: 300px; max-width: 55vw; margin: 0 auto; display: block;')
      p(style='position: absolute; top: 33%; left: 34%; transform: translate(-10%, -85%);')
        font(style='color: white; font-size: 9vmin; text-align: center;') About SeniorClub
    hr
    font(color = 'white', size = '6', position = 'relative' style = 'margin-left: 10px;')
      p Aging brings an increased risk of loneliness and social isolation as friends and family members of seniors lose touch or pass away.
      p
        | These are, of course, unpleasant feelings, and they have been shown to increase the risk of heart disease and stroke as well as overall mortality.
        sup 1
      p
        | Out of a need to pass the time, seniors watch more movies and television than any other demographic, but they enjoy it less.
        sup 2
      p We have a solution to both of these issues: we give seniors the opportunity to talk to others about the media they've consumed. This alleviates their loneliness while inviting them to enjoy media more.
      hr
      p Contact us at seniorclubteam@gmail.com.
      hr
      br
      h3 Sources
      p 1: Hanratty, B, et al. 2016. "Loneliness and social isolation as risk factors for coronary heart disease and stroke: systematic review and meta-analysis of longitudinal observational studies." London: BMJ Publishing Group Limited.
      p 2: Deng, Chao. 2010. "Older Folks Watch Way More TV Than Young People, Yet Like It Far Less." Shots: Health News from National Public Radio.
