extends layout

block content
    font(color = 'white')
        h1 Learn more about SeniorClub
        h4 Our goal with this app is to create a platform that gives seniors the oppurtunity to reduce social isolation by connecting over what they love. 







        