extends layout

block content
  #container(style='max-width: 100vw; overflow: hidden;')
    h1 About SeniorClub
    hr
    p Aging brings an increased risk of loneliness and social isolation as friends and family members of seniors lose touch or pass away.
    p Out of a need to pass the time, seniors watch more movies and television than any other demographic, but they enjoy it less.
    p We have a solution to both of these issues: we give seniors the opportunity to talk to others about the media they've consumed. This alleviates their loneliness while inviting them to enjoy media more.
