extends layout

block content
    .container
      img.img-responsive.img-block(src='https://lh3.googleusercontent.com/-cV1FNQAdYQriSo2C2A2rxyNx95qpo45rLMxm2tu0t_SMKGBaQyXeiaIeD_ZFGNl7j4CpuScOrlwjfAlYi0egOAqwweISb324sGaIMvXp2wlV9dVKg3ErEiGL271o9XAjCyXV0B3xQ=w2400', style='min-width: 300px; max-width: 55vw; margin: 0 auto; display: block;')
      p(style='position: absolute; top: 33%; left: 34%; transform: translate(-10%, -85%);')
        font(style='color: white; font-size: 9vmin; text-align: center;') About SeniorClub
    hr
    font(color = 'white', size = '6', position = 'relative')
      p Aging brings an increased risk of loneliness and social isolation as friends and family members of seniors lose touch or pass away.
      p Out of a need to pass the time, seniors watch more movies and television than any other demographic, but they enjoy it less.
      p We have a solution to both of these issues: we give seniors the opportunity to talk to others about the media they've consumed. This alleviates their loneliness while inviting them to enjoy media more.
