extends layout

block content
	#homecontainer
		h1(action="/home").blockquote.text-center #{title}
			br
			small.text-muted Welcome to #{title}
		img(src=posterurl)#poster.rounded.mx-auto.d-block
		form(method="post", action = "/home",style='text-align:center;')
			input(type= "submit" value="Find another book!").btn.btn-secondary
