extends layout

block content
	h1(class="blockquote text-center", action = "/home") #{title}
		br
		small.text-muted Welcome to #{title}
	img(src=posterurl, class="rounded mx-auto d-block",width="320",height="auto")
	form(method="post", action = "/home",style='text-align:center;')
		input(type= "submit", class="btn btn-secodary", value="Find another book!") 



