doctype html
html(lang="en")
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name='google-signin-client_id', content='323237114211-bvkkag3t6ddo9dcvdf7p0laoe99b6kap.apps.googleusercontent.com')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
    block head
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href='/home') SeniorClub
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='true', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item
            if isLoggedIn
              a(href="/logout") Log Out
            else
              a(href="/auth/google") Log In
          li.nav-item
            a.nav-link(href='/media') Your Media
          li.nav-item
            a.nav-link(href='/') Friends
        form.form-inline.my-2.my-lg-0(id = 'form1', action = '/home', method = 'post')
          .form-row
            input.form-control.mr-sm-2(type='search', placeholder='Find media', aria-label='Search', id ='searchInput', name = 'searchInput')
            select.form-control(id = 'searchType',name = 'searchType')
              option Title
              option Topic
              option Creator
            select.form-control(id = 'mediaType',name = 'mediaType')
              option Book
              option Movie
              option TV Show
            button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
  body(style='background-color: #333333')
    block content
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
    script(src='https://apis.google.com/js/platform.js', async='', defer='')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous")
