doctype html
meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='description', content='A front-end template that helps you build fast, modern mobile web apps.')
meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0')
title Material Design Lite
meta(name='mobile-web-app-capable', content='yes')
link(rel='icon', sizes='192x192', href='images/android-desktop.png')
meta(name='apple-mobile-web-app-capable', content='yes')
meta(name='apple-mobile-web-app-status-bar-style', content='black')
meta(name='apple-mobile-web-app-title', content='Material Design Lite')
link(rel='apple-touch-icon-precomposed', href='images/ios-desktop.png')
meta(name='msapplication-TileImage', content='images/touch/ms-touch-icon-144x144-precomposed.png')
meta(name='msapplication-TileColor', content='#3372DF')
link(rel='shortcut icon', href='images/favicon.png')
link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&lang=en')
link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
link(rel='stylesheet', href='$$hosted_libs_prefix$$/$$version$$/material.cyan-light_blue.min.css')
link(rel='stylesheet', href='stylesheets/styles.css')
style.
  #view-source {
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  margin-right: 40px;
  margin-bottom: 40px;
  z-index: 900;
  }
.demo-layout.mdl-layout.mdl-js-layout.mdl-layout--fixed-drawer.mdl-layout--fixed-header
  header.demo-header.mdl-layout__header.mdl-color--grey-100.mdl-color-text--grey-600
    .mdl-layout__header-row
      span.mdl-layout-title Home
      .mdl-layout-spacer
      .mdl-textfield.mdl-js-textfield.mdl-textfield--expandable
        label.mdl-button.mdl-js-button.mdl-button--icon(for='search')
          i.material-icons search
        .mdl-textfield__expandable-holder
          input#search.mdl-textfield__input(type='text')
          label.mdl-textfield__label(for='search') Enter your query...
      button#hdrbtn.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--icon
        i.material-icons more_vert
      ul.mdl-menu.mdl-js-menu.mdl-js-ripple-effect.mdl-menu--bottom-right(for='hdrbtn')
        li.mdl-menu__item About
        li.mdl-menu__item Contact
        li.mdl-menu__item Legal information
  .demo-drawer.mdl-layout__drawer.mdl-color--blue-grey-900.mdl-color-text--blue-grey-50
    header.demo-drawer-header
      img.demo-avatar(src='images/user.jpg')
      .demo-avatar-dropdown
        span hello@example.com
        .mdl-layout-spacer
        button#accbtn.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--icon
          i.material-icons(role='presentation') arrow_drop_down
          span.visuallyhidden Accounts
        ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect(for='accbtn')
          li.mdl-menu__item hello@example.com
          li.mdl-menu__item info@example.com
          li.mdl-menu__item
            i.material-icons add
            | Add another account...
    nav.demo-navigation.mdl-navigation.mdl-color--blue-grey-800
      a.mdl-navigation__link(href='')
        i.mdl-color-text--blue-grey-400.material-icons(role='presentation') home
        | Home
      a.mdl-navigation__link(href='')
        i.mdl-color-text--blue-grey-400.material-icons(role='presentation') inbox
        | Inbox
      a.mdl-navigation__link(href='')
        i.mdl-color-text--blue-grey-400.material-icons(role='presentation') delete
        | Trash
      a.mdl-navigation__link(href='')
        i.mdl-color-text--blue-grey-400.material-icons(role='presentation') report
        | Spam
      a.mdl-navigation__link(href='')
        i.mdl-color-text--blue-grey-400.material-icons(role='presentation') forum
        | Forums
      a.mdl-navigation__link(href='')
        i.mdl-color-text--blue-grey-400.material-icons(role='presentation') flag
        | Updates
      a.mdl-navigation__link(href='')
        i.mdl-color-text--blue-grey-400.material-icons(role='presentation') local_offer
        | Promos
      a.mdl-navigation__link(href='')
        i.mdl-color-text--blue-grey-400.material-icons(role='presentation') shopping_cart
        | Purchases
      a.mdl-navigation__link(href='')
        i.mdl-color-text--blue-grey-400.material-icons(role='presentation') people
        | Social
      .mdl-layout-spacer
      a.mdl-navigation__link(href='')
        i.mdl-color-text--blue-grey-400.material-icons(role='presentation') help_outline
        span.visuallyhidden Help