extends layout

block content
	h1= title
	p Welcome to #{title}
	form(method="post", action = "/findMovie")
		label Search for Movie:
		input(type ="text", name = "movieTitle")
		br
		input(type= "submit")
	form(method="post", action = "/findBook")
		label Search for Book:
		input(type ="text", name = "bookTitle")
		br
		input(type= "submit")
	img(src=posterurl)


