extends layout

block content
    h1(class="blockquote text-center", action = "/home", font color='white')
        br
        font(color = 'white', size = '6') #{volume.title}
    if volume.thumbnail
        a(href=volume.link)
            img(src=volume.thumbnail)
    br
    font(color = 'white', size = '4', position = 'relative')  #{volume.description}
    if isLoggedIn
        form(action='/home/'+volume.id, method='post')
            button.btn.btn-default(type='submit', style='float: right')
                i.fa.fa-bookmark(style='font-size:24px; color:green')