extends layout

block content
  if user
    h1(action = "/home", font color='white').blockquote.text-center
        br
        font(color = 'white', size = '6') Welcome #{user.googlename}
    img(src=user.imageUrl)
    #mediapreferences
      h2 Media Preferences
        each p in user.mediapreferences
          //something
      h2 Genres
        each g in user.genres
          p#roundedrectbehindtext g
      h2 Media Services
        each s in user.mediaservices
          //something
    #accountpreferences
      h2 Your Account
        .row
          .col-3.col-sm
            p#roundedrectbehindtext Your phone number:
          .col-9
            p user.phoneNumber
        p If you would like to alter other account information, please edit your Google profile.

  else
    h1(action = "/home", font color='white').blockquote.text-center
      br
      You must log in to access your profile.
