extends layout

block content
    h1(class="blockquote text-center", action = "/home", font color='white')
        br
        font(color = 'white', size = '6') Welcome #{user.googlename}
    img(src=user.imageUrl)