
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: lightblue;
}

a {
  color: #00B7FF;
}

.nopadding {
   padding: 0 ;
   margin: 0 ;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-deck {
  /*white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;*/
}

.card-deck card {
  display: inline-block;
  width: 100%;
  height: auto;
  margin: auto;
}

.btn-auth {
  background-color: #4473c1;
  color: #333;
}

.btn-subject {
  background-color: #4473c1;
  margin: 5px;
}

#makinthispretty {
  width: 100%;
}

#roundedrectbehindtext {
  background-color: #fff;
  border-radius: 5px;
}
